.cover {
  margin-bottom: 72px;
  background-color: #184c92;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 600px;
    padding-bottom: 64px;
  }

  &__title {
    z-index: 1;
    max-width: 80%;
    margin: 0;
    font-size: 64px;
    line-height: 1.25;
    color: #fff;
  }

  &__pic {
    position: absolute;
    top: 0;
    left: -64px;
    right: -64px;
    bottom: 0;
  }
}
