@media (max-width: 1919px) {
    .quiz {
        &__step {
            flex-direction: column;
            margin-top: -32px;
        }

        &__step-col {
            margin-top: 32px;
        }

        &__step-col_sm-order_first {
            order: -1;
        }
        
        &__card {
            margin-left: 0;
        }

        &__question {
            margin: 0 0 24px;
        }

        &__items {
            margin-bottom: 36px;
        }

        &__label {
            flex-basis: calc(100% - 68px);
        }

        &__icon {
            top: 16px;
        }

        &__answer {
            margin-left: 44px;
            font-size: 20px;
        }

        &__pic {
            border-radius: 4px;
        }
    
        &__result-pic {
            margin-bottom: 36px;
        }
    }
}