.quiz {
  position: relative;
  z-index: 1;

  &__steps-info {
    display: block;
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: 700;
    color: #184c92;
  }

  &__steps {
    width: 100%;
    overflow: hidden;
  }

  &__steps-box {
    display: flex;
  }

  &__step {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    min-width: 100%;
    margin-top: -48px;
    opacity: 0;
    pointer-events: none;
  }

  &__step_shown {
    position: static;
    opacity: 1;
    pointer-events: all;
  }

  &__step-col {
    flex-basis: 50%;
    margin-top: 48px;
  }

  &__question {
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 1.25;
  }

  &__items {
    margin-bottom: 40px;
    border-top: 1px solid #f2f4ee;
  }

  &__item {
    position: relative;
    flex-wrap: wrap;
    padding: 16px 0;
    border-bottom: 1px solid #f2f4ee;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  &__item_hover:hover,
  &__item_hover:active
  {
    background-color: #f2f2f2;
  }


  &__item_disabled {
    cursor: auto;
  }

  &__item_correct {
    background-color: #e8f5e9;
  }

  &__item_incorrect {
    background-color: #feebee;
  }

  &__field {
    margin-left: 16px;
    transition: 0.2s ease-in-out;
  }

  &__field_hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    flex-basis: calc(100% - 72px);
    margin-right: 16px;
    font-weight: 500;
  }

  &__answer {
    flex-grow: 1;
    margin: 16px 16px 8px 56px;
    font-size: 24px;
    line-height: 1.25;
    transition: 0.2s ease-in-out;
  }

  &__answer_hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 16px;
  }

  &__card {
    display: block;
    width: 100%;
    max-width: 720px;
    height: 320px;
    box-sizing: border-box;
    padding: 24px;
    margin-left: auto;
    color: #fff;
    background-color: #184c92;
    border-radius: 8px;
    line-height: 1.25;
  }

  &__card-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 32px;
    font-weight: 700;
  }

  &__card-text {
    margin: 0 0 16px;
    font-size: 24px;
  }

  &__card-descr {
    margin: 0;
    font-size: 16px;
    font-style: italic;
  }

  &__section {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
  }

  &__section_shown {
    position: static;
    opacity: 1;
    pointer-events: all;
  }

  &__result-score {
    display: block;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }

  &__result-score_hight {
    color: #4caf50;
  }

  &__result-score_medium {
    color: #f4c836;
  }

  &__result-score_low {
    color: #f44336;
  }

  &__result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 0;
  }
}
