@media (max-width: 1919px) {
    .icon {
        max-width: 20px;
        min-width: 20px;
        height: 20px;
    }

    .icon_correct {
        background-size: 11px auto;
    }
    
    .icon_incorrect {
        background-size: 11px auto;
    }
}