@media (max-width: 1199px) {
    .icon {
        max-width: 18px;
        min-width: 18px;
        height: 18px;
    }

    .icon_correct {
        background-size: 10px auto;
    }
    
    .icon_incorrect {
        background-size: 10px auto;
    }
}