.quiz-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__container {
        display: flex;
        justify-content: flex-end;
        padding-top: 24px;
        padding-bottom: 24px
    }

    &__item {
        display: flex;
        justify-content: center;
    }
}