@media (max-width: 1919px) {
    .test-cover {
        margin-bottom: 40px;

        &__container {
            padding-top: 56px;
            padding-bottom: 56px;
        }

        &__title {
            font-size: 48px;
            max-width: 1024px;
        }

        &__pic {
            left: -40px;
            right: -40px;
        }
    }
}