@media (max-width: 1199px) {
    .test-cover {
        margin-bottom: 32px;

        &__container {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &__title {
            max-width: 768px;
        }

        &__pic {
            left: -32px;
            right: -32px;
        }
    }
}