.test-cover {
  margin-bottom: 64px;
  background-color: #184c92;

  &__container {
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  &__title {
    z-index: 1;
    margin: 0;
    font-size: 64px;
    line-height: 1.25;
    color: #fff;
  }
}
